body {
  background: url('images/background.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: "Helvetica";
}

.container {
  background-color: white;
  margin: 1em;
  padding: 1em;
}
nav{
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}
li{
  list-style-type: none;
}
a {
  text-decoration: none;
}
